In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
pd.set_option('display.max_columns', 100)

In [8]:
drought_info = pd.read_csv('dm_export_19920101_20201231.csv')
drought_info

,MapDate,StateAbbreviation,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID
0,20201229,AK,91.44,8.56,0.0,0.0,0.0,0.0,2020-12-29,2021-01-04,1
1,20201222,AK,91.44,8.56,0.0,0.0,0.0,0.0,2020-12-22,2020-12-28,1
2,20201215,AK,88.88,11.12,0.0,0.0,0.0,0.0,2020-12-15,2020-12-21,1
3,20201208,AK,88.88,11.12,0.0,0.0,0.0,0.0,2020-12-08,2020-12-14,1
4,20201201,AK,88.89,11.11,0.0,0.0,0.0,0.0,2020-12-01,2020-12-07,1
...,...,...,...,...,...,...,...,...,...,...,...
56987,20000201,WY,100.00,0.00,0.0,0.0,0.0,0.0,2000-02-01,2000-02-07,1
56988,20000125,WY,85.98,14.02,0.0,0.0,0.0,0.0,2000-01-25,2000-01-31,1
56989,20000118,WY,100.00,0.00,0.0,0.0,0.0,0.0,2000-01-18,2000-01-24,1
56990,20000111,WY,100.00,0.00,0.0,0.0,0.0,0.0,2000-01-11,2000-01-17,1
56991,20000104,WY,100.00,0.00,0.0,0.0,0.0,0.0,2000-01-04,2000-01-10,1

In [11]:
drought_info.dtypes

MapDate                       int64
StateAbbreviation            object
None                        float64
D0                          float64
D1                          float64
D2                          float64
D3                          float64
D4                          float64
ValidStart           datetime64[ns]
ValidEnd             datetime64[ns]
StatisticFormatID             int64
dtype: object

In [10]:
drought_info['ValidStart']= pd.to_datetime(drought_info['ValidStart'])
drought_info['ValidEnd']= pd.to_datetime(drought_info['ValidEnd'])

In [12]:
drought_info['year'] = drought_info['ValidStart'].dt.year

In [13]:
drought_info

,MapDate,StateAbbreviation,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID,year
0,20201229,AK,91.44,8.56,0.0,0.0,0.0,0.0,2020-12-29,2021-01-04,1,2020
1,20201222,AK,91.44,8.56,0.0,0.0,0.0,0.0,2020-12-22,2020-12-28,1,2020
2,20201215,AK,88.88,11.12,0.0,0.0,0.0,0.0,2020-12-15,2020-12-21,1,2020
3,20201208,AK,88.88,11.12,0.0,0.0,0.0,0.0,2020-12-08,2020-12-14,1,2020
4,20201201,AK,88.89,11.11,0.0,0.0,0.0,0.0,2020-12-01,2020-12-07,1,2020
...,...,...,...,...,...,...,...,...,...,...,...,...
56987,20000201,WY,100.00,0.00,0.0,0.0,0.0,0.0,2000-02-01,2000-02-07,1,2000
56988,20000125,WY,85.98,14.02,0.0,0.0,0.0,0.0,2000-01-25,2000-01-31,1,2000
56989,20000118,WY,100.00,0.00,0.0,0.0,0.0,0.0,2000-01-18,2000-01-24,1,2000
56990,20000111,WY,100.00,0.00,0.0,0.0,0.0,0.0,2000-01-11,2000-01-17,1,2000
56991,20000104,WY,100.00,0.00,0.0,0.0,0.0,0.0,2000-01-04,2000-01-10,1,2000

In [ ]:
drought_info['year'].unique()

array([2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010,
       2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000],
      dtype=int64)

In [16]:
drought_info.to_csv('drought_info.csv')